.caballero-section {
  display: flex;
  align-items: flex-start;
  margin-top: 10px;
  margin-right: 60px;
  margin-bottom: 10px;
  margin-left: 60px;
}

.caballero-section-2 {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.image-container {
  position: relative;
  padding: 10px;
}

.image-container img {
  width: 100%;
  height: auto;
}

#imagen-1 {
  width: 500px;
  height: 600px;
}

#imagen-2 {
  width: 500px;
  height: 283px;
}

#imagen-3 {
  width: 500px;
  height: 283px;
}

.image-container button {
  position: absolute;
  bottom: 30px; /* Ajusta el valor  */
  left: 20px; /* Ajusta el valor  */
}

.image-container p {
  position: absolute;
  top: 10px; /* Ajusta el valor */
  left: 20px; /* Ajusta el valor */
  color: white;
  font-size: 24px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .caballero-section {
    flex-direction: column;
    align-items: center;
    margin: 10px;
  }

  #imagen-1,
  #imagen-2,
  #imagen-3 {
    width: 100%;
    height: auto;
  }
}
