.nav-container {
  background-color: #000;
  color: #fff;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.navbar-logo {
  margin: 0;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  position: relative;
}

.navbar-menu a {
  color: #fff;
  text-decoration: none;
  padding: 10px;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #000;
  display: none;
  padding: 10px;
}

.submenu li {
  margin-bottom: 5px;
}

.navbar-menu li:hover .submenu {
  display: block;
}

.navbar-auth {
  display: flex;
  align-items: center;
}

.navbar-auth a {
  color: #fff;
  text-decoration: none;
  margin-left: 10px;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search input[type="text"] {
  padding: 5px;
}

.search-button {
  background-color: #000;
  color: #fff;
  border: none;
  padding: 5px 10px;
  margin-left: 10px;
}

.navbar-carrito {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}
