html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.container {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.content {
  flex: 1;
}

footer {
  background-color: #000;
  color: #fff;
  padding: 20px;
  width: 100%;
}

footer section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

footer a {
  color: #fff; /* Enlaces blancos */
  margin-left: 10px;
}

/* Responsiveness */
@media (max-width: 768px) {
  footer section {
    flex-direction: column;
    align-items: flex-start;
  }

  footer a {
    margin: 10px 0;
  }
}
