.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 20px;
  overflow: hidden;
  margin-top: 80px; /* Márgen superior */
  margin-right: 0px; /* Márgen derecho */
  margin-bottom: 120px; /* Márgen inferior */
  margin-left: 0px; /* Márgen izquierdo */
}

.slider {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 500px;
  margin-top: 30px;
  transition: transform 0.5s ease-in-out;
}

.slider-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.slider-image.active {
  transform: translateX(0);
}

.slider-image:not(.active) {
  transform: translateX(100%);
}

.slider-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  color: white;
  font-size: 1.2rem;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.slider-button.prev {
  left: 10px;
}

.slider-button.next {
  right: 10px;
}

/* Responsive */
@media (max-width: 768px) {
  .slider {
    height: 200px;
  }
}

@media (max-width: 480px) {
  .slider {
    height: 150px;
  }
}
