.slider {
    width: 100%;
    background-color: #f2f2f2;
    padding: 20px;
  }
  
  .slider-container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  .slider-imagenes {
    display: flex;
    overflow-x: scroll;
    scroll-snap-type: x mandatory;
  }
  
  .slider-imagenes::-webkit-scrollbar {
    display: none;
  }
  
  .slider-imagenes img {
    width: 100%;
    scroll-snap-align: center;
    object-fit: cover;
    margin-right: 10px;
  }
  
  .slider-imagenes img:last-child {
    margin-right: 0;
  }
  